# Empty Homes in Japan

## Introduction 

This 
good for prediction

### Required Packages to Run Analysis

In [1]:
import pandas as pd
import numpy as np

## Literature Review

Empty Homes in Japan

"Akiya"
 

Research question

This report

Geographical 
Elevation

Abe

Kanamori

Focus on homes to let

Yoo and Kwon 
South Korea

## Presentation of Data

src_url   = 'https://data.london.gov.uk/download/msoa-atlas/39fdd8eb-e977-4d32-85a4-f65b92f29dcb/msoa-data.xls'
dest_path = os.path.join('data','msoa')

excel_atlas = pd.read_excel(
    cache_data(src_url, dest_path), 
    "iadatasheet1", # Which sheet is the data in?
    header=[0,1,2])            # Where are the column names... there's three of them!

#### Dependent Variable

The dataset does not include information for municipalities with a population size less than 15,000. 
https://www.e-stat.go.jp/stat-search/files?page=1&layout=datalist&toukei=00200522&tstat=000001127155&cycle=0&year=20180&month=0&tclass1=000001129435&tclass2=000001129436&cycle_facet=cycle&tclass3val=0&metadata=1&data=1

**Reading in the data and cleaning process**

In [2]:
# Reading in the data from link
## make sure it can be accessed with link
vacant_homes = pd.read_excel("e001_2.xlsx", header = [5,6,8,9,10])

In [3]:
# keep columns which are necessary for analysis
vacant_homes = vacant_homes[vacant_homes.columns[[4,5,6,16]]]

In [4]:
# assign new columns names to drop levels from multi level columns & label columns in English (originally in Japanese)
vacant_homes.columns = ['region_identification_code', 'code_name', 'total_homes', 'empty_homes']

In [5]:
# check data type of each column (in case conversion is necessary)
vacant_homes.dtypes

region_identification_code    object
code_name                     object
total_homes                    int64
empty_homes                    int64
dtype: object

In [6]:
# select rows for municipalities based on region_identification_code (values = 1, 2, 3)
## maybe add link about the selection of values
vacant_homes = vacant_homes.loc[vacant_homes['region_identification_code'].isin([1, 2, 3])]

In [7]:
# create 

# create column for municipality code (first 5 numbers in 'code_name' column)
vacant_homes['municipality_code'] = vacant_homes['code_name'].str.slice(0, 5)

# create column for municipality name (after underbar in 'code_name' column)
vacant_homes['municipality_name'] = vacant_homes['code_name'].str.replace(r'[0-9]{5}\_', '', regex=True)

In [8]:
# create column for ratio of empty homes
vacant_homes['empty_homes_ratio'] = vacant_homes['empty_homes']/vacant_homes['total_homes']*100

In [9]:
# check final output of the data 
vacant_homes

,region_identification_code,code_name,total_homes,empty_homes,municipality_code,municipality_name,empty_homes_ratio
2,1,01100_札幌市,1051400,44300,01100,札幌市,4.213430
13,2,01202_函館市,147610,10830,01202,函館市,7.336901
14,2,01203_小樽市,64670,5150,01203,小樽市,7.963507
15,2,01204_旭川市,181220,7530,01204,旭川市,4.155171
16,2,01205_室蘭市,49130,4120,01205,室蘭市,8.385915
...,...,...,...,...,...,...,...
1305,3,47328_中城村,8910,340,47328,中城村,3.815937
1306,3,47329_西原町,14010,340,47329,西原町,2.426838
1307,3,47348_与那原町,9010,170,47348,与那原町,1.886792
1308,3,47350_南風原町,14370,440,47350,南風原町,3.061935
1309,3,47362_八重瀬町,11060,460,47362,八重瀬町,4.159132

#### Independent Variable 

Selection of the variables are based on the study conducted by. The type of varibales may be

socioeconomic 
proportion of elderly population　
change rate for population
ratio of 生活保護 - replaced 
employment rate
change rate for number of businesses
https://www.e-stat.go.jp/stat-search/files?page=1&layout=datalist&toukei=00200552&tstat=000001072573&cycle=0&tclass1=000001074966&tclass2=000001077017&tclass3val=0&metadata=1&data=1
real estate
proportion of owner occupied housing - e003_2
distribution ratio of houses - e003_2
proportion of detached houses - e010_2
proportion of new housing - e010_2
proportion of aged housing - e010_2
https://www.e-stat.go.jp/stat-search/files?page=1&layout=datalist&toukei=00200522&tstat=000001127155&cycle=0&tclass1=000001129435&tclass2=000001129436&tclass3val=0

In [10]:
# Reading in the data for the link 
# data type of the columns set as object in order to read in the municipality code correctly
socioeconomic_1 = pd.read_excel("2015.xls", header = [7, 8, 9, 10], dtype=object)

In [11]:
# keep columns which are necessary for analysis and transformation of columns 
socioeconomic_1 = socioeconomic_1[socioeconomic_1.columns[[1, 11, 22]]]

In [12]:
# assign new columns names to label columns in English (originally in Japanese)
socioeconomic_1.columns = ['municipality_code', 'population_change_rate', 'proportion_elderly_pop']

In [13]:
# replace the '-' in the dataframe 
socioeconomic_1.replace('-', np.nan, inplace = True)

# transform 'population_change_rate' and 'proportion_elderly_pop' columns into numeric values
socioeconomic_1[['population_change_rate', 'proportion_elderly_pop']] = socioeconomic_1[['population_change_rate', 'proportion_elderly_pop']].apply(pd.to_numeric)

# check data type of the column 
socioeconomic_1.dtypes

municipality_code          object
population_change_rate    float64
proportion_elderly_pop    float64
dtype: object

In [14]:
# check dataframe 
socioeconomic_1

     municipality_code  population_change_rate  proportion_elderly_pop
0                00000               -0.751700               26.635767
1                01000               -2.264375               29.088022
2                01100                2.028225               24.923624
3                01101                7.919560               21.516400
4                01102                2.345927               24.556131
...                ...                     ...                     ...
1960             47361               -8.968189               26.494513
1961             47362                8.938945               19.386944
1962             47375               -3.005686               26.381910
1963             47381                3.601969               20.217887
1964             47382               11.225106               18.502442

[1965 rows x 3 columns]

In [15]:
# Reading in the data from link 
## make sure it can be accessed with link
socioeconomic_2 = pd.read_csv("a0010201761190100.csv", encoding = "SHIFT_JIS")

In [16]:
# subset dataframe to necessary columns 
# we are using municipality name instead of the code because the code differs from the assigned code for vacant homes
socioeconomic_2 = socioeconomic_2[socioeconomic_2.columns[[4, 66]]]

In [17]:
# assign new columns names to label columns in English (originally in Japanese)
socioeconomic_2.columns = ['municipality_name', 'total_public_assistance_fee']

In [18]:
# check data type of columns 
socioeconomic_2.dtypes

municipality_name              object
total_public_assistance_fee     int64
dtype: object

In [19]:
# check dataframe
socioeconomic_2

     municipality_name  total_public_assistance_fee
0                  札幌市                    129237244
1                  函館市                     20854178
2                  小樽市                      8241395
3                  旭川市                     20596113
4                  室蘭市                      5624637
...                ...                          ...
3159    那覇市・南風原町環境施設組合                            0
3160           那覇港管理組合                            0
3161       沖縄県介護保険広域連合                            0
3162    沖縄県後期高齢者医療広域連合                            0
3163               NaN                   3523543475

[3164 rows x 2 columns]

In [20]:
# Reading in the data from link 
## make sure it can be accessed with link
socioeconomic_2_sub = pd.read_csv("a0010201761132100.csv", encoding = "SHIFT_JIS")

In [21]:
# subset dataframe to necessary columns 
# we are using municipality name instead of the code for the same reason as above
socioeconomic_2_sub = socioeconomic_2_sub[socioeconomic_2_sub.columns[[4, 8, 10]]]

In [22]:
# assign new columns names to label columns in English (originally in Japanese)
socioeconomic_2_sub.columns = ['municipality_name', 'expenditure_type', 'total_expenditure']

In [23]:
# subset to rows for total expenditure (expenditure type = 38) and drop the column
socioeconomic_2_sub = socioeconomic_2_sub.loc[(socioeconomic_2_sub['expenditure_type'] == "38")].drop(columns = ['expenditure_type'])

# check data type of the column 
socioeconomic_2_sub.dtypes

municipality_name    object
total_expenditure    object
dtype: object

In [24]:
# check dataframe
socioeconomic_2_sub

      municipality_name total_expenditure
53805               札幌市         966533376
53806               函館市         140296035
53807               小樽市          57105770
53808               旭川市         157702125
53809               室蘭市          45343862
...                 ...               ...
56964    那覇市・南風原町環境施設組合           5040013
56965           那覇港管理組合           5936328
56966       沖縄県介護保険広域連合            565824
56967    沖縄県後期高齢者医療広域連合            107270
56968               NaN       59349548743

[3164 rows x 2 columns]

In [25]:
# merge the two dataframes for the calculation of the proportion of expenditure spent on public assistance
socioeconomic_2 = socioeconomic_2.merge(socioeconomic_2_sub, on='municipality_name', how='left')

# change column type for 'total_expenditure' to numeric
socioeconomic_2['total_expenditure'] = socioeconomic_2['total_expenditure'].apply(pd.to_numeric)

# create column of the proportion
socioeconomic_2['proportion_public_assistance'] = socioeconomic_2['total_public_assistance_fee']/socioeconomic_2['total_expenditure']*100

# check dataframe
socioeconomic_2

,municipality_name,total_public_assistance_fee,total_expenditure,proportion_public_assistance
0,札幌市,129237244,966533376,13.371214
1,函館市,20854178,140296035,14.864410
2,小樽市,8241395,57105770,14.431808
3,旭川市,20596113,157702125,13.060137
4,室蘭市,5624637,45343862,12.404407
...,...,...,...,...
3241,那覇市・南風原町環境施設組合,0,5040013,0.000000
3242,那覇港管理組合,0,5936328,0.000000
3243,沖縄県介護保険広域連合,0,565824,0.000000
3244,沖縄県後期高齢者医療広域連合,0,107270,0.000000
3245,NaN,3523543475,59349548743,5.936934

In [26]:
# Reading in the data from link
## make sure it can be accessed with link
socioeconomic_3 = pd.read_csv("00130_00.csv", header = [9, 10], encoding = "shift_jisx0213")

In [27]:
# subset dataframe to necessary columns 
# we are using municipality name instead of the code because the code differs from the assigned code for vacant homes
socioeconomic_3 = socioeconomic_3[socioeconomic_3.columns[[4, 6, 7]]]

In [28]:
# assign new columns names to label columns in English (originally in Japanese)
socioeconomic_3.columns = ['municipality_name', 'labour_force_pop', 'employed_pop']

In [29]:
# check datatypes 
socioeconomic_3.dtypes

municipality_name    object
labour_force_pop     object
employed_pop         object
dtype: object

In [30]:
# replace the '-' in the dataframe 
socioeconomic_3.replace('-', np.nan, inplace = True)

# transform 'labour_force_pop' and 'unemployed_pop' columns into numeric values
socioeconomic_3[['labour_force_pop', 'employed_pop']] = socioeconomic_3[['labour_force_pop', 'employed_pop']].apply(pd.to_numeric)

# create new column for unemployment rate
socioeconomic_3['employment_rate'] = socioeconomic_3['employed_pop']/socioeconomic_3['labour_force_pop']*100

In [31]:
# check dataframe 
socioeconomic_3

     municipality_name  labour_force_pop  employed_pop  employment_rate
0                   全国        61523327.0    58919036.0        95.766986
1                  北海道         2553043.0     2435098.0        95.380219
2                  札幌市          892932.0      844313.0        94.555128
3              札幌市 中央区          108064.0      102279.0        94.646691
4               札幌市 北区          129316.0      122701.0        94.884624
...                ...               ...           ...              ...
1974              久米島町            4199.0        3918.0        93.307930
1975              八重瀬町           13418.0       12432.0        92.651662
1976              多良間村             669.0         621.0        92.825112
1977               竹富町            2376.0        2338.0        98.400673
1978              与那国町            1350.0        1317.0        97.555556

[1979 rows x 4 columns]

In [32]:
# Reading in the data from link
## make sure it can be accessed with link
socioeconomic_4= pd.read_csv("36000.csv", header = [9, 10], encoding = "shift_jisx0213")

In [33]:
# subset dataframe to necessary columns 
# we are using municipality name instead of the code because the code differs from the assigned code for vacant homes
socioeconomic_4 = socioeconomic_4[socioeconomic_4.columns[[3, 11, 13, 14]]]

In [34]:
# assign new columns names to label columns in English (originally in Japanese)
socioeconomic_4.columns = ['municipality_name', 'total_businesses', 'new_businesses', 'closed_businesses']

In [35]:
# check datatypes 
socioeconomic_4.dtypes

municipality_name    object
total_businesses     object
new_businesses       object
closed_businesses    object
dtype: object

In [36]:
# replace the '-' and '...' in the dataframe 
socioeconomic_4.replace(['...', '-'], np.nan, inplace = True)

# transform 'labour_force_pop' and 'unemployed_pop' columns into numeric values
socioeconomic_4[['total_businesses', 'new_businesses', 'closed_businesses']] = socioeconomic_4[['total_businesses', 'new_businesses', 'closed_businesses']].apply(pd.to_numeric)

# create new column for change rate of businesess
socioeconomic_4['business_change_rate'] = (socioeconomic_4['new_businesses']-socioeconomic_4['closed_businesses'])/(socioeconomic_4['total_businesses'] + socioeconomic_4['closed_businesses'] - socioeconomic_4['new_businesses'])*100

In [37]:
socioeconomic_4

,municipality_name,total_businesses,new_businesses,closed_businesses,business_change_rate
0,全国,5541634.0,859962.0,872366.0,-0.223333
1,北海道,233037.0,35724.0,37591.0,-0.794793
2,札幌市,75749.0,14392.0,14229.0,0.215648
3,札幌市中央区,22955.0,5159.0,5163.0,-0.017422
4,札幌市北区,9219.0,1651.0,1626.0,0.271916
...,...,...,...,...,...
2287,宮古郡,66.0,7.0,5.0,3.125000
2288,宮古郡多良間村,66.0,7.0,5.0,3.125000
2289,八重山郡,651.0,72.0,81.0,-1.363636
2290,八重山郡竹富町,438.0,41.0,44.0,-0.680272
2291,八重山郡与那国町,213.0,31.0,37.0,-2.739726

In [38]:
# Reading in the data from link
## make sure it can be accessed with link
real_estate_1 = pd.read_excel("e003_2.xlsx", header = [5,6,8,9,10])

In [39]:
# keep columns which are necessary for analysis and transformation of columns 
real_estate_1 = real_estate_1[real_estate_1.columns[[5,7,8,9]]]

In [40]:
# assign new columns names to drop levels from multi level columns & label columns in English (originally in Japanese)
real_estate_1.columns = ['code_name', 'home_ownership', 'total_houses', 'total_households']

In [41]:
# check data type of each column (in case conversion is necessary)
real_estate_1.dtypes

code_name           object
home_ownership      object
total_houses         int64
total_households     int64
dtype: object

In [42]:
# rename values in 'home_ownership' column into English for further conversion
real_estate_1['home_ownership'] = real_estate_1['home_ownership'].map({'0_総数': 'total', '1_持ち家': 'owned', '2_借家': 'rent'})

In [43]:
real_estate_1

       code_name home_ownership  total_houses  total_households
0       00000_全国          total      53616300          53925000
1       00000_全国          owned      32801500          33042900
2       00000_全国           rent      19064700          19124700
3      01000_北海道          total       2416700           2433500
4      01000_北海道          owned       1359400           1373400
...          ...            ...           ...               ...
3925  47350_南風原町          owned          6230              6240
3926  47350_南風原町           rent          6270              6270
3927  47362_八重瀬町          total         10280             10360
3928  47362_八重瀬町          owned          7000              7080
3929  47362_八重瀬町           rent          3120              3130

[3930 rows x 4 columns]

In [44]:
# calculation of the distribtuion ratio of house
real_estate_1['house_distribution_ratio'] = real_estate_1['total_houses']/real_estate_1['total_households']

In [45]:
# create pivot table for calculation of the proportion of owned houses
real_estate_1_sub = real_estate_1.pivot_table('total_houses', 'code_name', 'home_ownership')
real_estate_1_sub = real_estate_1_sub.rename_axis(None, axis=1).reset_index()

# create column based on calculation 
real_estate_1_sub['proportion_owned'] = real_estate_1_sub['owned']/real_estate_1_sub['total']*100

# check data frame
real_estate_1_sub

          code_name     owned      rent     total  proportion_owned
0          00000_全国  32801500  19064700  53616300         61.178224
1         01000_北海道   1359400    998600   2416700         56.250259
2         01100_札幌市    447900    445500    920900         48.637203
3     01101_札幌市　中央区     50540     73410    128350         39.376704
4      01102_札幌市　北区     69040     61750    134540         51.315594
...             ...       ...       ...       ...               ...
1305      47328_中城村      4180      3650      8130         51.414514
1306      47329_西原町      6510      6120     12960         50.231481
1307     47348_与那原町      3870      3520      7850         49.299363
1308     47350_南風原町      6230      6270     13250         47.018868
1309     47362_八重瀬町      7000      3120     10280         68.093385

[1310 rows x 5 columns]

In [46]:
# subset pivot table to necessary columns for merge
real_estate_1_sub = real_estate_1_sub[['code_name', 'proportion_owned']]

# subset original dataframe to total value for 'home_ownership' column and drop
real_estate_1 = real_estate_1.loc[real_estate_1['home_ownership'] == "total"].drop(columns=['home_ownership'])

# merge with orignal real estate dataframe
real_estate_1 = real_estate_1.merge(real_estate_1_sub, on='code_name', how='left')

In [47]:
# check dataframe
real_estate_1

,code_name,total_houses,total_households,house_distribution_ratio,proportion_owned
0,00000_全国,53616300,53925000,0.994275,61.178224
1,01000_北海道,2416700,2433500,0.993096,56.250259
2,01100_札幌市,920900,927700,0.992670,48.637203
3,01101_札幌市 中央区,128350,128950,0.995347,39.376704
4,01102_札幌市 北区,134540,135420,0.993502,51.315594
...,...,...,...,...,...
1305,47328_中城村,8130,8130,1.000000,51.414514
1306,47329_西原町,12960,13040,0.993865,50.231481
1307,47348_与那原町,7850,7900,0.993671,49.299363
1308,47350_南風原町,13250,13270,0.998493,47.018868
1309,47362_八重瀬町,10280,10360,0.992278,68.093385

In [48]:
# Reading in the data from link 
## make sure it can be accessed with link
real_estate_2= pd.read_excel("e010_2.xlsx", header = [5,6,8,9,10])

In [49]:
# keep columns which are necessary for analysis and transformation of columns 
real_estate_2 = real_estate_2[real_estate_2.columns[[5,7,9,11,12,13,14,19]]]

In [50]:
# assign new columns names to drop levels from multi level columns & label columns in English (originally in Japanese)
real_estate_2.columns = ['code_name', 'building_structure', 'building_style', 'building_floors', 'total_houses', 'built_before_1970', 'built_1971_1980', 'built_2016_2018']

In [51]:
# select rows which refer to the total values for 'building structure' and 'building floors' and drop the columns 
real_estate_2 = real_estate_2.loc[(real_estate_2['building_structure'] == '0_総数') & (real_estate_2['building_floors'] == '00_総数')].drop(columns=['building_structure', 'building_floors'])

In [52]:
# check data type of each column (in case conversion is necessary)
real_estate_2.dtypes

code_name            object
building_style       object
total_houses         object
built_before_1970    object
built_1971_1980      object
built_2016_2018      object
dtype: object

In [53]:
# rename values in 'building_style' column into English for further conversion
real_estate_2['building_style'] = real_estate_2['building_style'].map({'0_総数': 'total', '1_一戸建': 'detached', '2_長屋建': 'tenement', '3_共同住宅': 'apartment', '4_その他': 'other'})

In [54]:
# check data frame
real_estate_2

,code_name,building_style,total_houses,built_before_1970,built_1971_1980,built_2016_2018
0,00000_全国,total,53616300,4564600,7446800,2216400
1,00000_全国,detached,28758600,3649100,4779200,1097300
2,00000_全国,tenement,1369200,175500,195100,76600
3,00000_全国,apartment,23352700,723500,2450100,1040400
7,00000_全国,other,135900,16500,22300,2200
...,...,...,...,...,...,...
31416,47362_八重瀬町,total,10280,570,1570,730
31417,47362_八重瀬町,detached,6860,570,1390,410
31418,47362_八重瀬町,tenement,220,-,90,-
31419,47362_八重瀬町,apartment,3170,-,70,320
31423,47362_八重瀬町,other,40,-,20,-

In [55]:
# replace the '-' in the data frame 
real_estate_2.replace('-', np.nan, inplace = True)

In [56]:
# create column for the proportion of old houses (built before 1980 - based on oldest earthquake resistance criterion)
real_estate_2['proportion_old_housing'] = (real_estate_2['built_before_1970'] + real_estate_2['built_1971_1980'])/real_estate_2['total_houses']*100

real_estate_2['proportion_new_housing'] = real_estate_2['built_2016_2018']/real_estate_2['total_houses']*100

In [57]:
# create pivot table for calculation of the proportions of detached houses and apartments
real_estate_2_sub = real_estate_2.pivot_table('total_houses', 'code_name', 'building_style')
real_estate_2_sub = real_estate_2_sub.rename_axis(None, axis=1).reset_index()

# create columns based on calculation 
real_estate_2_sub['proportion_detached'] = real_estate_2_sub['detached']/real_estate_2_sub['total']*100
real_estate_2_sub['proportion_apartment'] = real_estate_2_sub['apartment']/real_estate_2_sub['total']*100

# check data frame
real_estate_2_sub

,code_name,apartment,detached,other,tenement,total,proportion_detached,proportion_apartment
0,00000_全国,23352700.0,28758600.0,135900.0,1369200.0,53616300.0,53.637793,43.555225
1,01000_北海道,1058000.0,1255600.0,7400.0,95800.0,2416700.0,51.955145,43.778707
2,01100_札幌市,592000.0,310000.0,1800.0,17200.0,920900.0,33.662721,64.284939
3,01101_札幌市 中央区,113810.0,13870.0,120.0,550.0,128350.0,10.806389,88.671601
4,01102_札幌市 北区,73800.0,57150.0,310.0,3280.0,134540.0,42.478073,54.853575
...,...,...,...,...,...,...,...,...
1305,47328_中城村,3730.0,3990.0,90.0,310.0,8130.0,49.077491,45.879459
1306,47329_西原町,7010.0,5600.0,210.0,160.0,12960.0,43.209877,54.089506
1307,47348_与那原町,4870.0,2860.0,80.0,40.0,7850.0,36.433121,62.038217
1308,47350_南風原町,7760.0,5410.0,30.0,50.0,13250.0,40.830189,58.566038
1309,47362_八重瀬町,3170.0,6860.0,40.0,220.0,10280.0,66.731518,30.836576

In [58]:
# subset pivot table to necessary columns for merge
real_estate_2_sub = real_estate_2_sub[['code_name', 'proportion_detached', 'proportion_apartment']]

# subset original dataframe to total value for 'home_ownership' column and drop
real_estate_2 = real_estate_2.loc[real_estate_2['building_style'] == "total"].drop(columns=['building_style'])

# merge with orignal real estate dataframe
real_estate_2 = real_estate_2.merge(real_estate_2_sub, on='code_name', how='left')

In [59]:
# check dataframe 
real_estate_2

,code_name,total_houses,built_before_1970,built_1971_1980,built_2016_2018,proportion_old_housing,proportion_new_housing,proportion_detached,proportion_apartment
0,00000_全国,53616300.0,4564600.0,7446800.0,2216400.0,22.402516,4.133818,53.637793,43.555225
1,01000_北海道,2416700.0,125000.0,362500.0,96600.0,20.172136,3.997186,51.955145,43.778707
2,01100_札幌市,920900.0,20600.0,101600.0,44000.0,13.269628,4.777935,33.662721,64.284939
3,01101_札幌市 中央区,128350.0,2910.0,12450.0,6580.0,11.967277,5.126607,10.806389,88.671601
4,01102_札幌市 北区,134540.0,3450.0,13250.0,6010.0,12.412665,4.467073,42.478073,54.853575
...,...,...,...,...,...,...,...,...,...
1305,47328_中城村,8130.0,500.0,630.0,810.0,13.899139,9.963100,49.077491,45.879459
1306,47329_西原町,12960.0,420.0,1390.0,780.0,13.966049,6.018519,43.209877,54.089506
1307,47348_与那原町,7850.0,280.0,980.0,310.0,16.050955,3.949045,36.433121,62.038217
1308,47350_南風原町,13250.0,630.0,1140.0,1360.0,13.358491,10.264151,40.830189,58.566038
1309,47362_八重瀬町,10280.0,570.0,1570.0,730.0,20.817121,7.101167,66.731518,30.836576

In [64]:
# merge all dataframes into one final dataframe one by one
df_merged = vacant_homes.merge(socioeconomic_1, on = "municipality_code", how = "left").merge(socioeconomic_2, on = "municipality_name", how = "inner").merge(socioeconomic_3, on = "municipality_name", how = "left").merge(socioeconomic_4, on = "municipality_name", how = "left").merge(real_estate_1, on = "code_name", how = "left").merge(real_estate_2, on = "code_name", how = "left")

# select columns for final dataframe
columns = ["code_name", "municipality_code", "municipality_name", "empty_homes_ratio", "population_change_rate", "proportion_elderly_pop", "proportion_public_assistance", "employment_rate", "business_change_rate", "house_distribution_ratio", "proportion_owned", "proportion_old_housing", "proportion_new_housing", "proportion_detached", "proportion_apartment"]

# subset merged dataframes to selected columns and drop rows with nan
df = df_merged[columns].dropna(subset = ["code_name"]).reset_index(drop=True)

# check output
df

,code_name,municipality_code,municipality_name,empty_homes_ratio,population_change_rate,proportion_elderly_pop,proportion_public_assistance,employment_rate,business_change_rate,house_distribution_ratio,proportion_owned,proportion_old_housing,proportion_new_housing,proportion_detached,proportion_apartment
0,01100_札幌市,01100,札幌市,4.213430,2.028225,24.923624,13.371214,94.555128,0.215648,0.992670,48.637203,13.269628,4.777935,33.662721,64.284939
1,01202_函館市,01202,函館市,7.336901,-4.710401,32.400383,14.864410,94.703095,-1.847541,0.995701,57.156823,21.409369,2.517312,55.454175,39.437882
2,01203_小樽市,01203,小樽市,7.963507,-7.582924,37.164826,14.431808,94.337923,-2.029368,0.988323,67.704426,29.726182,1.987997,61.027757,34.452363
3,01204_旭川市,01204,旭川市,4.155171,-2.157911,31.770535,13.060137,95.191839,-1.505205,0.990547,58.564025,24.573379,3.653141,59.265580,37.688029
4,01205_室蘭市,01205,室蘭市,8.385915,-6.316179,34.105630,12.404407,95.013123,-5.325704,0.993314,55.447519,35.776614,3.290950,57.566692,39.815507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,47328_中城村,47328,中城村,3.815937,10.033937,17.840351,0.000000,93.837296,NaN,1.000000,51.414514,13.899139,9.963100,49.077491,45.879459
1359,47329_西原町,47329,西原町,2.426838,-0.742104,18.119762,0.000000,94.286825,NaN,0.993865,50.231481,13.966049,6.018519,43.209877,54.089506
1360,47348_与那原町,47348,与那原町,1.886792,12.820199,18.525874,0.000000,93.866981,NaN,0.993671,49.299363,16.050955,3.949045,36.433121,62.038217
1361,47350_南風原町,47350,南風原町,3.061935,6.406764,17.150764,0.000000,95.086152,NaN,0.998493,47.018868,13.358491,10.264151,40.830189,58.566038
1362,47362_八重瀬町,47362,八重瀬町,4.159132,8.938945,19.386944,0.000000,92.651662,NaN,0.992278,68.093385,20.817121,7.101167,66.731518,30.836576

In [68]:
df["duplicated"] = df.duplicated(subset = "code_name")

In [69]:
duplicated = df.loc[df["duplicated"] == True]

In [70]:
duplicated

,code_name,municipality_code,municipality_name,empty_homes_ratio,population_change_rate,proportion_elderly_pop,proportion_public_assistance,employment_rate,business_change_rate,house_distribution_ratio,proportion_owned,proportion_old_housing,proportion_new_housing,proportion_detached,proportion_apartment,duplicated
32,01233_伊達市,01233,伊達市,7.400932,-3.536579,34.608238,3.407417,95.464772,-3.493932,0.994695,65.000000,21.933333,3.266667,71.133333,24.800000,True
33,01233_伊達市,01233,伊達市,7.400932,-3.536579,34.608238,3.407417,95.594568,0.000000,0.994695,65.000000,21.933333,3.266667,71.133333,24.800000,True
34,01233_伊達市,01233,伊達市,7.400932,-3.536579,34.608238,3.407417,95.594568,-3.493932,0.994695,65.000000,21.933333,3.266667,71.133333,24.800000,True
35,01233_伊達市,01233,伊達市,7.400932,-3.536579,34.608238,2.206221,95.464772,0.000000,0.994695,65.000000,21.933333,3.266667,71.133333,24.800000,True
36,01233_伊達市,01233,伊達市,7.400932,-3.536579,34.608238,2.206221,95.464772,-3.493932,0.994695,65.000000,21.933333,3.266667,71.133333,24.800000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,40605_川崎町,40605,川崎町,11.896349,-8.075996,33.768634,0.000000,87.676210,NaN,0.992378,60.983103,40.552995,1.228879,64.362519,12.596006,True
1231,40605_川崎町,40605,川崎町,11.896349,-8.075996,33.768634,0.000000,95.328789,NaN,0.992378,60.983103,40.552995,1.228879,64.362519,12.596006,True
1232,40605_川崎町,40605,川崎町,11.896349,-8.075996,33.768634,0.000000,87.676210,NaN,0.992378,60.983103,40.552995,1.228879,64.362519,12.596006,True
1233,40605_川崎町,40605,川崎町,11.896349,-8.075996,33.768634,0.000000,95.328789,NaN,0.992378,60.983103,40.552995,1.228879,64.362519,12.596006,True
1234,40605_川崎町,40605,川崎町,11.896349,-8.075996,33.768634,0.000000,87.676210,NaN,0.992378,60.983103,40.552995,1.228879,64.362519,12.596006,True

In [ ]:
boolean = vacant_homes.duplicated(subset=['municipality_name']).any()
print(boolean, end='\n\n')

In [ ]:
df_all = vacant_homes.merge(socioeconomic_2.drop_duplicates(), on=['municipality_name'], 
                   how='left', indicator=True)
df_all

In [ ]:
df_all_2 = df_all.loc[df_all['_merge'] == 'left_only']
df_all_2

## Methodology

In [ ]:
Spatial cross validation

In [ ]:
clustering

## Results

## Discussion

limitations of the analysis 
- collection of the data -

## Conclusion